
*{
	margin:0;
}


.SendEmail{
	position: absolute;
	left:50%;
	right:10%;
	
	font-size:125%;
	
	margin: 0;
	padding: 3%;
	font-weight: bold;
	background-color:  #f5f1bb;
	border: none;
	border-radius: 10px; 
	box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
	
	//box-shadow:
	//	0 -1.25rem 1rem -1.5rem rgba(black, 0.4),
	//	0 0.5rem 1.75rem -0.25rem rgba(black, 0.3),
	//	0 1.25rem 2.5rem rgba(black, 0.2);
	color: black;
	
	text-transform: uppercase;
	//transition: $base-duration ease;
	overflow: hidden; }

	button:hover{
		background:powderblue;
	}
	.video1{
		position: absolute;
		margin-left:1%;
	}
	iframe{
		position: absolute;
		top:40%;
	margin-left:1%;}
	body{
		background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(nat.jpg);
		width:100%;
		height:100%;
		background-size: cover;
		background-position: center,bottom;
		background-repeat: no-repeat;
	}

		div,h2{
 
			color: white;
			border:3px solid transparent;
			background:#060706a1;
		}

.msg{
	display: inline-block;
	font-size:155%;
	position: absolute;
	left:35%;
	top:15%;
	text-align: center;
}
.footer{

	background: #060706a1;
	color:white;
	font-size:125%;
	position: absolute;
	bottom:10%;


}
@media (min-width: 360px) {
  .msg{
    font-size: 100%;
  }
  video{
  	width:30%;
  	height:30%;

  }
  .SendEmail{
  	position: absolute;
  	top:45%;
  	font-size:100%;
  }
  h2{
  	font-size: 110%;
  }
}

@media (min-width: 768px) {
  .msg{
    font-size: 110%;
  }
  .SendEmail{
  	position: absolute;
  	top:35%;
  	font-size: 100%
  }
  .footer{
  	bottom:40%;
  }
  h2{
  	font-size: 125%;
  }
  	

  
}

@media (min-width:1281px) {
.msg{
    font-size: 130%;
  }
  .SendEmail{
  	position: absolute;
  	top:35%;
  	font-size: 90%
  }
  .footer{
  	bottom:10%;
  }
  h2{
  	font-size: 155%;
  }
  	

}